@import "tailwindcss";

@theme {
  --font-accent: 'Tangerine', serif;
  --font-display: 'Rye', serif;
  --font-text: 'Cantarell', sans-serif;
  --font-sans: 'Roboto', sans-serif;
  
  --color-form: #30313d;
  --color-primary-500: hsl(137 58% 11%);
  --color-primary-700: hsl(137 58% 5%);
  --color-backdrop-500: hsl(36 62% 94%);
  --color-backdrop-700: hsl(36 62% 94%);
  /* Explicitly define breakpoints for Tailwind v4 */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

@layer utilities {
  .custom-list-bullet {
    list-style: none;
  }
  .blog-post p {
    padding: 0 0 2rem 0;
  }
  .blog-post a {
    text-decoration: underline;
  }
  .blog-post a:hover {
    color: #333;
  }

  .blog-post h3 {
    font-size: 1rem;
    font-weight: 600;
    padding: 0 0 1rem 0;
  }
  .blog-post {
    max-width: 1500px;
    margin: 0 auto;
  }

  .custom-list-bullet li::before {
    content: '\2022'; /* Unicode character for bullet point (you can change this) */
    color: #000000; /* Custom color for the bullet */
    font-size: 1.5rem; /* Custom font size for the bullet */
    margin-right: 0.5rem; /* Spacing between bullet and list item text */
  }
}
